---
import star from "../../images/pink-star.svg?url";
import cancel from "../../images/cancel.svg?url";
import hamburger from "../../images/hamburger.svg?url";
---

<div class="z-50 navbar top-0 md:top-0 w-full">
  <div class="toggle h-4 px-12 md:px-16 flex items-center justify-start">
    <div class="flex items-center justify-center">
      <img
        src={star}
        alt="Menu button container"
        class="star absolute top-6 h-20 w-20 md:h-24 md:w-24 cursor-pointer"
      />
      <img
        src={hamburger}
        alt="Menu hamburger icon"
        class="hamburger increase p-7 md:p-9 absolute top-6 h-20 w-20 md:h-24 md:w-24 cursor-pointer"
      />
      <img
        src={cancel}
        alt="Menu cancel button"
        class="cancel shrink p-7 md:p-9 absolute top-6 h-20 w-20 md:h-24 md:w-24 cursor-pointer"
      />
    </div>
  </div>
</div>
<style>
  .navbar {
    background-image: url("../../images/header-bg-mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .star {
    rotate: 0deg;
    transition: rotate 0.5s;
  }

  .rotated {
    rotate: 45deg;
    transition: rotate 0.5s;
  }

  .shrink {
    scale: 0;
    transition: scale 0.5s;
  }

  .increase {
    scale: 1;
    transition: scale 0.5s;
  }

  @media screen and (min-width: 700px) {
    .navbar {
      background-image: url("../../images/header-bg-tablet.png");
    }
  }

  @media screen and (min-width: 1280px) {
    .navbar {
      background-image: url("../../images/header-bg-desktop.png");
    }
  }
</style>
