---
---

<div
  class="z-0 relative -left-full nav-container w-full flex flex-wrap items-stretch bg-white/95 text-left text-black border-black border-b-2"
>
  <div
    class="pt-28 lg:pt-48 pb-8 w-full lg:w-1/2 leading-extra-tight font-display text-7xl mobile-medium:text-[5.5rem] md:text-8xl lg:text-9xl lg:border-r-2 border-black"
  >
    <a class="px-8 py-3 md:py-0 block hover:text-pink" href="/">Inicio</a>
    <p class="dropdown-toggle px-8 py-3 md:py-0 block cursor-pointer">
      Sobre <span class="pl-4">Caicedo</span>
    </p>
    <div
      class="dropdown hidden pl-12 font-serif font-bold text-4xl mobile-medium:text-5xl italic"
    >
      <a
        class="px-8 py-3 block hover:text-pink"
        href="/carlos-caicedo-indigenas-araracuara/">Cronología</a
      >
      <a class="px-8 py-3 block hover:text-pink" href="/contenido/entrevistas/"
        >Entrevistas</a
      >
    </div>
    <a
      class="px-8 py-3 md:py-0 block hover:text-pink"
      href="/contenido/prensa-decadente/">Contenidos</a
    >
  </div>
  <div class="w-full lg:w-1/2 flex flex-col">
    <div
      class="grow flex flex-col justify-end pt-16 lg:pt-24 pb-2 px-8 w-full bg-yellow border-y-2 lg:border-t-0 lg:border-b-2 border-black"
    >
      <p class="uppercase italic font-sans font-bold tracking-widest">
        Otras secciones
      </p>
    </div>
    <div class="flex flex-row flex-nowrap">
      <div
        class="exclamation w-2/3 pt-4 pb-6 flex flex-col justify-around font-serif font-bold text-4xl mobile-medium:text-5xl italic"
      >
        <a class="px-8 py-4 block hover:text-pink" href="/equipo">Equipo</a>
        <a class="px-8 py-4 block hover:text-pink" href="/enlaces/">Enlaces</a>
        <a class="px-8 py-4 block hover:text-pink" href="/contacto/">Contacto</a
        >
      </div>
      <div
        class="w-1/3 ml-8 pb-4 flex flex-col items-center justify-around border-l-2 border-black"
      >
        <a class="mail w-10 h-10" href="mailto:juani-so@uniandes.edu.co"></a>
        <a
          class="insta w-10 h-10"
          href="https://www.instagram.com/badacuniandes/"></a>
        <a class="info w-10 h-10" href="/footer"></a>
      </div>
    </div>
  </div>
</div>
<style>
  .collapsed {
    translate: -100%;
    transition: translate 1s;
  }

  .expanded {
    translate: 100%;
    transition: translate 0.5s;
  }

  .exclamation {
    background-image: url("../../images/exclamation.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 80%;
  }

  .mail {
    background-image: url("../../images/mail.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .insta {
    background-image: url("../../images/insta.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .info {
    background-image: url("../../images/info.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .mail:hover,
  .insta:hover {
    background-image: url("../../images/external-link.svg");
  }

  .info:hover {
    background-image: url("../../images/info-active.svg");
  }

  @media (hover: hover) {
    .dropdown-toggle:hover {
      @apply text-pink;
    }
  }
</style>
