---
import Menu from "./Menu.astro";
import FixedBar from "./FixedBar.astro";
const { isIndex } = Astro.props;
const bgColor = isIndex ? "bg-black" : "bg-white";
---

<nav class="z-50 w-full text-center absolute top-0 left-0 right-0">
  <div class="w-full fixed z-50">
    <div class={bgColor + " h-8"}></div>
    <FixedBar />
  </div>
  <div class="nav-dropdown fixed overflow-hidden w-full h-full">
    <Menu />
  </div>
</nav>
