---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Equipo";
import ribbon from "../images/ribbon.png?url";
import TeamMember from "../components/TeamMember.astro";
import GoToTop from "../components/GoToTop.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <div
    class="relative pt-28 pb-14 px-4 medium-mobile:px-10 md:pl-32 uppercase font-display leading-very-tight sm:leading-extra-tight text-[8.2rem] mobile-medium:text-[9.5rem] sm:text-[12rem] md:text-[16rem] lg:text-[17rem] xl:text-[18rem] bg-white"
  >
    <h1 class="z-20 relative text-left">El</h1>
    <h1 class="z-20 relative text-left">Equipo</h1>
    <img
      src={ribbon}
      alt=""
      class="z-20 absolute top-16 mobile-medium:top-18 md:top-18 lg:top-24 left-24 mobile-medium:left-32 md:left-72 lg:left-80 h-40 mobile-medium:h-44 md:h-64 lg:h-60 xl:h-64"
    />
  </div>
  <div class="w-full bg-yellow py-16 px-4 medium-mobile:px-10 md:pl-32">
    <p class="uppercase text-black font-sans tracking-wider lg:text-lg">
      Conoce a las personas detrás de este proyecto.
    </p>
  </div>
  <div class="md:pl-32 bg-white flex flex-wrap items-center justify-start">
    <TeamMember
      name="Juanita Solano"
      description="Profesora del Departamento de Historia del Arte. Especialista en historia de la fotografía en América Latina."
    />
    <TeamMember
      name="Camilo Hernández"
      description="Profesor del Departamento de Humanidades y Literatura. Especialista en la relación entre los estudios literarios y visuales."
    />
    <TeamMember
      name="Bianca Tiziana Salvo"
      description="Artista visual y Profesora de cátedra en Fotografía del Departamento de Arte. Su trabajo explora las conexiones entre creencias e imagen."
    />
    <TeamMember
      name="Mariana Villamizar Rodríguez"
      description="Diseñadora y desarrolladora frontend con experiencia en el uso de la visualización de datos para la defensa de los Derechos Humanos."
    />
    <TeamMember
      name="Juanita Bayona"
      description="Estudiante de Historia del Arte, apasionada por el estudio de la fotografía desde lo práctico hasta lo teórico."
    />
    <TeamMember
      name="Natalia Hernández"
      description="Estudiante de último semestre de Literatura. Interesada en la relación entre cine y literatura y la imagen-escritura."
    />
    <TeamMember
      name="Juanita Rodríguez"
      description="Historiadora y Magíster en Historia de la Universidad de los Andes. Candidata doctoral en Historia en la Universidad de Binghamton, Estados Unidos. Especialista en Historia de América Latina y de Colombia."
    />
    <TeamMember
      name="Nicolás Muñoz"
      description="Antropólogo de la Universidad de los Andes y estudiante de la maestría en historia del arte en el campo de estudios curatoriales de la UNAM."
    />
    <TeamMember
      name="Rossangélica Peralta"
      description="Literata con énfasis en Artes escénicas y estudiante de la Maestría en Historia del Arte de la Universidad de los Andes."
    />
    <TeamMember
      name="Rosa Rodríguez"
      description="Literata y estudiante de la Maestría en historia de la Universidad de los Andes."
    />
    <TeamMember
      name="María Sofía Vergara"
      description="Estudiante de séptimo semestre de literatura y arte de la Universidad de los Andes. Interés por las imágenes y su extensión."
    />
    <TeamMember
      name="Valeria Ramírez"
      description="Fotógrafa y diseñadora visual, tesista de la maestría de historia del arte y curaduría."
    />
    <TeamMember
      name="Ana Gabriela Riaga"
      description="Estudiante de quinto semestre de historia del arte de la Universidad de los Andes, interesada en el arte producido en América Latina."
    />
  </div>
  <GoToTop bg="bg-white" />
</BaseLayout>
<style>
  body {
    @apply bg-black;
  }

  .container {
    @apply max-w-full;
    @apply flex flex-col items-center;
  }

  .wrapper {
    @apply max-w-xs mobile-medium:max-w-[90%] md:max-w-[80%] lg:max-w-[70%] xl:max-w-[60%];
    @apply px-4 md:px-10 md:pl-14 lg:pl-20;
  }
</style>
