<div class="pt-12">
  <div
    class="l-0 w-full my-6 px-6 pt-48 pb-4 bg-gradient-to-b from-white to-yellow to-50%"
  >
    <h1
      class="text-black text-xl uppercase italic font-sans font-bold tracking-widest"
    >
      Bibliografía
    </h1>
  </div>
</div>

<!-- border-2 border-black from-yellow/95 from-70% via-orange/95 via-90% to-pink/95 to-110% -->
