---
const props = Astro.props;
---

<a href={"mailto:" + props.email}>
  <div
    class="px-4 py-3 border-[1.5px] border-black hover:bg-yellow hover:text-black text-white font-sans tracking-wider lg:text-lg"
  >
    <p class="font-serif tracking-normal italic font-bold text-2xl">
      {props.name}
    </p>
    <p class="">{props.position}</p>
    <p class="">{props.department}</p>
    <p class="">Universidad de los Andes, Bogotá, Colombia</p>
  </div>
</a>
