---
const props = Astro.props;
import { Image } from "@astrojs/image/components";
---

<div class="swiper-slide">
  <div class="h-screen flex flex-col items-center justify-center">
    <Image
      src={props.foto}
      class="max-h-[90%] w-auto mx-auto"
      alt={props.descripcion}
      loading="lazy"
    />
    {
      props.descripcion && (
        <p class="pt-8 pb-16 px-16 text-white text-center">
          {props.descripcion}
        </p>
      )
    }
  </div>
  <div class="swiper-lazy-preloader"></div>
</div>
