---
const props = Astro.props;
import { Image } from "@astrojs/image/components";
---

<div class="swiper-slide">
  <div class="h-screen flex items-center">
    <Image
      src={props.foto}
      class="max-h-screen w-auto mx-auto"
      alt={props.descripcion}
      loading="lazy"
    />
  </div>
  <div class="swiper-lazy-preloader"></div>
</div>
