---
const props = Astro.props;
---

<div class="border-black md:border-[1.5px] mx-auto w-full md:w-1/2">
  <div style="width: 100%;">
    <div
      style="position: relative; padding-bottom: 151.66835187057634%; padding-top: 0; height: 0;"
    >
      <iframe
        title="Interactive image !!!"
        frameborder="0"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
        src={props.enlace}
        type="text/html"
        allowscriptaccess="always"
        allowfullscreen="true"
        scrolling="yes"
        allownetworking="all"></iframe>
    </div>
  </div>
</div>
