---
const props = Astro.props;
import goup from "../images/go-up.svg?url";
import goupactive from "../images/go-up-active.svg?url";
---

<div class={"w-full pt-8 pb-20 flex justify-center" + " " + props.bg}>
  <a href="#top" class="group">
    <img
      src={goup}
      alt="Ir arriba"
      class="h-24 cursor-pointer group-hover:hidden"
    />
    <img
      src={goupactive}
      alt="Ir arriba"
      class="hidden group-hover:block h-24 cursor-pointer"
    />
  </a>
</div>
