---
const props = Astro.props;
---

<div class="my-6 mx-10 px-10 py-8 bg-yellow/95">
  <!-- <h1 class="pt-14 text-9xl text-black leading-[0]">“</h1> -->
  <h1 class="text-black text-xl italic font-serif hyphens-none leading-relaxed">
    (...) {props.contenido}
  </h1>
  <!-- <h1 class="pt-12 text-9xl text-black leading-[0] text-right">”</h1> -->
</div>
