---
const props = Astro.props;
---

<div class="swiper-slide">
  <iframe
    id={props.numero}
    width="100%"
    height="98%"
    loading="lazy"
    class=""
    src={props.enlace}></iframe>
  <div class="swiper-lazy-preloader"></div>
</div>
