---
import hamburger from "../images/pink-star.svg";
import toggle from "../images/menu-toggle.svg";
---

<div class="z-50 navbar absolute top-8 md:top-10 w-full">
  <div class="hamburger h-8 px-12 md:px-16 flex items-center justify-start">
    <div class="flex items-center justify-center">
      <img
        src={hamburger}
        alt="Menu button container"
        class="absolute h-20 w-20 md:h-24 md:w-24 drop-shadow-orange cursor-pointer"
      />
      <img
        src={toggle}
        alt="Menu toggle button"
        class="toggle absolute h-10 w-10 md:h-12 md:w-12 cursor-pointer"
      />
    </div>
  </div>
</div>
<style>
  .navbar {
    background-image: url("../images/header-bg-mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .toggle {
    rotate: 0deg;
    transition: rotate 0.5s;
  }

  .rotated {
    rotate: 45deg;
    transition: rotate 0.5s;
  }

  @media screen and (min-width: 700px) {
    .navbar {
      background-image: url("../images/header-bg-tablet.png");
    }
  }

  @media screen and (min-width: 1280px) {
    .navbar {
      background-image: url("../images/header-bg-desktop.png");
    }
  }
</style>
