---
---

<div
  class="links uppercase italic font-sans font-bold tracking-widest text-left"
>
  <a class="px-8 py-2 block hover:text-pink" href="/">Inicio</a>
  <a class="px-8 py-2 block hover:text-pink" href="/sobre-caicedo"
    >Sobre Caicedo</a
  >
  <a class="px-8 py-2 block hover:text-pink" href="/contenidos">Contenidos</a>
  <a class="px-8 py-2 block hover:text-pink" href="/contenidos">Equipo</a>
  <a class="px-8 py-2 block hover:text-pink" href="/contenidos">Enlaces</a>
  <a class="px-8 py-2 block hover:text-pink" href="/contenidos">Contacto</a>
</div>
<style>
  .links {
    background-image: url("../../images/star-exclamation.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }
</style>
