---
import FooterLinks from "./FooterLinks.astro";
import LegalNotice from "./LegalNotice.astro";
import Logos from "./Logos.astro";
---

<footer id="footer" class="bg-black text-white">
  <div class="h-5 bar w-full"></div>
  <div
    class="flex flex-wrap md:flex-no-wrap items-center md:justify-center lg:justify-around"
  >
    <div class="my-12 w-full md:max-w-[400px]">
      <FooterLinks />
    </div>
    <div class="my-8 w-full md:max-w-[400px]">
      <Logos />
    </div>
    <div class="my-12 w-full md:max-w-[400px]">
      <LegalNotice />
    </div>
  </div>
  <div class="md:hidden h-5 bar w-full"></div>
</footer>
<style>
  .bar {
    background-image: url("../../images/header-bg-mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  @media screen and (min-width: 700px) {
    .bar {
      background-image: url("../../images/header-bg-tablet.png");
    }
  }

  @media screen and (min-width: 1280px) {
    .bar {
      background-image: url("../../images/header-bg-desktop.png");
    }
  }
</style>
