---
---

<div class="px-12 py-2 font-serif text-xs text-center lg:text-right">
  <p class="py-2">Universidad de los Andes | Vigilada MinEducación</p>
  <p class="py-2">
    Reconocimiento como Universidad: Decreto 1297 del 30 de mayo de 1964.
  </p>
  <p class="py-2">
    Reconocimiento personería jurídica: Resolución 28 del 23 de febrero de 1949
    MinJusticia.
  </p>
</div>
