---
import uniandes from "../../images/logo-Uniandes.png";
import cic from "../../images/logo-CIC.png";
import ehcn from "../../images/logo-EHCN.png";
---

<div class="logos text-center">
  <img src={uniandes} alt="Menu button container" class="h-24 py-4" />
  <img src={cic} alt="Menu button container" class="h-24 py-4" />
  <img src={ehcn} alt="Menu button container" class="h-24 py-4" />
</div>
<style>
  .logos img {
    filter: invert(1);
  }
</style>
