---
import uniandes from "../../images/logo-Uniandes.png?url";
---

<div
  class="logos px-12 py-2 text-center lg:text-left flex flex-col items-center"
>
  <p class="italic">Con el apoyo de:</p>
  <img src={uniandes} alt="Menu button container" class="h-20 my-4" />
</div>
<style>
  .logos img {
    filter: invert(1);
  }
</style>
