---
import GoToTop from "../components/GoToTop.astro";
import "../styles/global.css";

const { frontmatter } = Astro.props;
---

<div class="article">
  <div class="container py-10 bg-white">
    <div class="wrapper text-xl font-serif leading-loose hyphens-auto">
      <slot />
    </div>
  </div>
  <GoToTop bg="bg-white" />
</div>
<style is:global>
  .article p {
    @apply pt-4 pb-6;
  }

  .article p:first-of-type {
    @apply pt-6 lg:pt-4;
  }

  .article a {
    @apply text-orange underline decoration-dotted underline-offset-4 hover:text-pink hover:decoration-solid;
  }

  .article h2 {
    @apply mt-12 mb-4 text-4xl font-bold;
  }

  .article .container {
    @apply max-w-full;
    @apply flex flex-col items-center;
  }

  .article .wrapper {
    @apply max-w-xs mobile-medium:max-w-[90%] md:max-w-[80%] lg:max-w-[70%] xl:max-w-[60%];
    @apply px-4 md:px-10 md:px-14 lg:px-20;
  }

  .article ul {
    @apply pl-2 list-disc list-inside;
  }

  .article li {
    @apply pt-6 break-words;
  }

  .article ol li {
    list-style-type: decimal;
    list-style-position: inside;
  }

  .article ol ol li {
    list-style-type: lower-alpha;
    list-style-position: inside;
  }

  .article li:last-of-type {
    @apply pb-12;
  }

  .article p:last-of-type {
    display: inline;
    position: relative;
  }
</style>
