---
import Header from "../components/Header.astro";
import "../styles/global.css";
const { pageTitle, isIndex } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/nhp6hpn.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header isIndex={isIndex} />
    <div class="content">
      <slot />
    </div>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  * {
    margin: 0;
    padding: 0;
  }

  body {
    @apply bg-white;
  }
</style>
