---
import Navigation from "../components/Navigation/Navigation.astro";
import Footer from "../components/Footer/Footer.astro";
const { pageTitle, isIndex } = Astro.props;
import { Picture } from "@astrojs/image/components";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <link rel="stylesheet" href=https://use.typekit.net/fag2ywt.css> -->
    <link rel="stylesheet" href="https://use.typekit.net/nhp6hpn.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation isIndex={isIndex} />
    <div class="z-40">
      <slot />
    </div>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @font-face {
    font-family: "Gregor";
    src: url("/fonts/Gregor.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply bg-white;
  }

  .unscrollable {
    overflow: hidden;
  }

  .container {
    @apply max-w-full;
    @apply flex flex-col items-center;
  }

  .wrapper {
    @apply max-w-xs mobile-medium:max-w-[90%] md:max-w-[80%] lg:max-w-[70%] xl:max-w-[60%];
    @apply px-4 md:px-10 md:pl-14 lg:pl-20;
  }

  .tippy-box[data-theme~="moderno"] {
    @apply bg-black text-white opacity-95 p-2 hyphens-auto;
  }
</style>
