---
const props = Astro.props;
---

<div {...props} class="relative">
  <div class="picture absolute -z-50 w-full h-full"></div>
  <div class="container w-full min-h-[100vh] mx-auto">
    <div class="py-12 wrapper min-h-[100vh] flex flex-col justify-center">
      <div class="pt-14 px-8 mx-auto">
        <div class="text-white max-w-xl text-left md:text-center">
          <h1
            class="font-display text-[3.5rem] mobile-medium:text-[3.8rem] md:text-[4rem] lg:text-[4.5rem] xl:text-[5rem] leading-[0.9]"
          >
            {props.title}
          </h1>
          {
            props.subtitle && (
              <h3 class="mt-4 uppercase tracking-widest italic">
                {props.subtitle}
              </h3>
            )
          }
        </div>
      </div>
      <div class="pt-4 md:pt-9 px-8 mx-auto">
        <div class="flex flex-wrap justify-start md:justify-center">
          {
            props.tags.map((tag) => (
              <p class="mr-2 mb-2 px-2 font-sans text-xs md:text-sm uppercase tracking-wider text-white italic border-white border-1">
                {tag}
              </p>
            ))
          }
        </div>
      </div>
      {
        props.author && (
          <div class="pt-6 lg:pt-10 px-8">
            <div class="text-left md:text-center">
              <p class="underline text-white italic text-base font-sans underline-offset-4 decoration-dotted decoration-2">
                Por: {props.author}
              </p>
            </div>
          </div>
        )
      }
    </div>
  </div>
  <div class="bg-gradient-to-b from-pink to-white h-24 w-full"></div>
</div>
<style>
  .picture {
    background-image: url("../images/static.png");
    background-size: cover;
    background-position: center;
  }
</style>
