---
import BaseLayout from "./BaseLayout.astro";
import ArticleLayout from "./ArticleLayout.astro";
import "../styles/global.css";
const { frontmatter } = Astro.props;
---

<BaseLayout url={frontmatter.url}>
  <div class="bg-white">
    <h1>{frontmatter.title}</h1>
    <p>Written by {frontmatter.author}</p>
    <ArticleLayout>
      <slot />
    </ArticleLayout>
  </div>
</BaseLayout>
